body,
html {
  background-color: #8697c4;
}
@media screen and (max-width: 320px) {
  body {
    max-width: 200px;
  }
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 320px) {
  p {
    font-size: 0.8rem;
  }
}

h1,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2rem;
}
@media screen and (max-width: 320px) {
  h1,
  h3 {
    font-size: 1rem;
    position: relative;
    width: 250px;
    right: 10px;
  }
}

/* h3 {
  padding-top: 10px;
  padding-bottom: 10px;
} */

.Typewriter__wrapper {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: pre-wrap;
}

.question {
  padding-top: 0px;
  padding-bottom: 0px;
}

.app-container {
  width: 60%;
  max-width: 800px;
  min-width: 200px;
  min-height: 100px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media screen and (max-width: 320px) {
  .app-container {
    min-width: 10px;
    min-height: 100px;
  }
}

.responses-container {
  flex-grow: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  scroll-behavior: smooth;
  height: 100vh;
}

.responses-container::-webkit-scrollbar {
  display: none;
  height: 100vh;
}

.responses-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
}
@media screen and (max-width: 320px) {
  .responses-container {
    min-width: 250px;
    margin-left: -14px;
  }
}

.response-box {
  background-color: #7089ca;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  word-wrap: break-word; /* Ensures long words break to a new line */
  padding: 18px;
}

.response-box2 {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  word-wrap: break-word; /* Ensures long words break to a new line */
}
@media screen and (max-width: 320px) {
  .response-box2 {
    font-size: 0.8rem;
  }
}

.response-box,
.response-box2 {
  scroll-snap-align: start;
}

.response-box h3 {
  margin: 0 0 5px 0;
}

.response-box p,
.response-box pre {
  margin: 0;
}

.input-form {
  display: flex;
  padding: 10px;
  background-color: #8697c4;
}
@media screen and (max-width: 320px) {
  .input-form {
    position: relative;
    padding-bottom: 5px;
    right: 14px;
  }
}

.greyed-out-input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  word-wrap: break-word; /* Ensures long words break to a new line */
  background-color: #ede8f5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  pointer-events: none;
}

.input-box {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  word-wrap: break-word; /* Ensures long words break to a new line */
  background-color: #ede8f5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  pointer-events: all;
}

.greyed-out-submit {
  padding: 8px 20px;
  background-color: #3d52a034;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  pointer-events: none;
  padding-bottom: 5px;
}

.submit-button {
  padding: 8px 20px;
  background-color: #3d52a0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  pointer-events: all;
  padding-bottom: 5px;
}

textarea:focus,
input:focus {
  outline: none;
}

.submit-button:hover {
  background-color: #25377a;
}

.Typewriter__cursor {
  display: none;
}

img {
  width: 4%;
  height: 4%;
  min-width: 33px;
  min-height: 33px;
  margin-left: -20px;
}

.container-input {
  float: right;
  max-width: 60%;
}

.container-response {
  float: left;
  min-width: 100%;
}

.scrollToBottom {
  float: right;
}

.loading {
  display: inline-flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.copy-button {
  border: none;
  background-color: #8697c4;
  width: 9px;
  height: 9px;
  position: relative;
  bottom: 7px;
  left: 5px;
  cursor: pointer;
}

.text-to-speech {
  border: none;
  background-color: #8697c4;
  width: 9px;
  height: 9px;
  position: relative;
  bottom: 27px;
  left: 20px;
  cursor: pointer;
}

.rs-container {
  border: none;
  color: #8697c4;
  opacity: 0;
}

.speaker {
  position: relative;
  top: 20px;
  pointer-events: none;
}
